.sideSelector {
    width: 50%;

    &__dice {
        fill: #fff;
        width: 4rem;
        height: 4rem;
        margin: 2rem;
        cursor: pointer;
    }

    &__inactive {
        opacity: .1;
    }
}

