.display{
    text-align: center;
    flex-grow :1;

    &--svg{
      height: 12.4rem;
      width: 12.4rem;  
    }
}

svg.Loss {
    fill: #000;
}

svg.WIN {
    fill: #46FFBA;
}

svg.WON {
    transition: fill .5s ;
}